@model Suspects

<partial name="_Notifications" />
<body>
   
<form method="post" asp-action="SuspectsView" style="margin-top:5.98%; margin-left:15.6%; width:70%; ">
     <div class="card rounded-3 me-1g-n5 border p-3 mt-4  glassBackground text-white-50">
        <div class="row pb-2">
            <h2 class="text-white">Record New Suspect</h2>
            
            <hr />
        </div>
      
            
                <div class="mb-3 row" >
                    <label class="col-sm-2 col-form-label">Suspect ID:  </label>
                    <div class="col-sm-7">
                    <input asp-for="SuspectID" class="form-control" placeholder="ID Number"/>
                    <span asp-validation-for="SuspectID" class="text-danger"></span>

                    </div>
                </div>

                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">First Name:  </label>
                    <div class="col-sm-7">
                    <input asp-for="FirstName"  class="form-control"  placeholder="First Name"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>


                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Last Name:  </label>
                    <div class="col-sm-7">
                    <input asp-for="LastName"  class="form-control" placeholder="last Name"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

       
        <button  type="submit" class="btn btn-primary glassBackground" style="width:150px">Submit</button>
       
            
        </div>
    
</form>
</body>




