@model List<Cases> 

<body>

<h1 class="text-white glassBackground" style="width:fit-content; margin-top:8%; margin-bottom:5%;">Showing Cases Managers</h1>


    <div class="card rounded-3 me-1g-n5 border p-3 mt-4 glassBackground p-3">
    <table id="MainTable"class="table-bordered border-secondary text-white">
        <thead>
            <tr>
                <th>Suspect Number</th>
                <th>Suspect ID</th>
                <th>Suspect Name</th>
                <th>Offence </th>
                <th>Manager Name</th>
                <th>Manager ID</th>
                <th>Manager Number</th>
            </tr>
        </thead>
        <tbody>
          
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    foreach (var crim in item.CriminalRecords)
                    {
                        var man = item.ManagerList.FirstOrDefault(m => m.ManagerNo == crim.ManagerNoForeign);
                        var sus = item.Suspects.FirstOrDefault(s => s.SuspectNo == crim.SuspectNo);

                        <tr>
                            <td>@sus?.SuspectNo</td>
                            <td>@sus?.SuspectID</td>
                            <td>@sus?.FirstName</td>
                            <td>@crim.Offences</td>
                            <td>@man?.Name</td>
                            <td>@man?.ManagerID</td>
                            <td>@man?.ManagerNo</td>
                        </tr>
                    }
                }
                else
                {

                    <tr>
                        <td>No Case to show</td>
                        <td>No Case to show</td>
                        <td>No Case to show</td>
                        <td>No case to show</td>
                        <td>No case to show</td>
                        <td>No case to show</td>
                        <td>No case to show</td>
                    </tr>
                }
            }



               
            

        
                
            
        </tbody>
    </table>
    </div>

</body>

@section Scripts {
    <script>
            $(document).ready( function () {
                $('#MainTable').DataTable();


                    // $('.dataTables_filter input').addClass('glassBackground');
        } );
    </script>
}