@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome To The SAPS Criminal Record Management system</h1>
    <div class="card-img">
        <img src="~/saps_logo3.png" style="align-self:center" width="250" height="250" />
    </div>

</div>
