@{
    ViewData["Title"] = "Home Page";
}

<br/><br/><br/>
<div class="text-center">
    <h1 class="display-4 text-white">
        <span class="GlassBackGround">W </span>
        <span class="GlassBackGround">E </span>
        <span class="GlassBackGround">L </span>
        <span class="GlassBackGround">C </span>
        <span class="GlassBackGround">O </span>
        <span class="GlassBackGround">M </span>
        <span class="GlassBackGround">E </span> 
         &nbsp;
        <span class="GlassBackGround">T </span>
        <span class="GlassBackGround">O</span>
        <br/>&nbsp;
        <span class="GlassBackGround">T </span>
        <span class="GlassBackGround">H </span>
        <span class="GlassBackGround">E </span>
        &nbsp;<br />&nbsp;
        <span class="GlassBackGround">C </span>
        <span class="GlassBackGround">R </span>
        <span class="GlassBackGround">I </span>
        <span class="GlassBackGround">M </span>
        <span class="GlassBackGround">I </span>
        <span class="GlassBackGround">N </span>
        <span class="GlassBackGround">A </span>
        <span class="GlassBackGround">L </span>
        &nbsp;
        <span class="GlassBackGround">O </span>
        <span class="GlassBackGround">F </span>
        <span class="GlassBackGround">F </span>
        <span class="GlassBackGround">E </span>
        <span class="GlassBackGround">N </span>
        <span class="GlassBackGround">C </span>
        <span class="GlassBackGround">E </span>
            &nbsp;<br/>
        <span class="GlassBackGround">C </span>
        <span class="GlassBackGround">A </span>
        <span class="GlassBackGround">P </span>
        <span class="GlassBackGround">T </span>
        <span class="GlassBackGround">U </span>
        <span class="GlassBackGround">R </span>
        <span class="GlassBackGround">I </span>
        <span class="GlassBackGround">N </span>
        <span class="GlassBackGround">G </span>
        &nbsp;
        <span class="GlassBackGround">S </span>
        <span class="GlassBackGround">Y </span>
        <span class="GlassBackGround">S </span>
        <span class="GlassBackGround">T </span>
        <span class="GlassBackGround">E </span>
        <span class="GlassBackGround">M </span>
    
    </h1>
    <div class=" glassBackground " style="width:fit-content; margin-left:37%">
        <img src="~/images/CriminalImage1.jpg" style="align-self:center" width="250" height="200" />
    </div>

</div>
