@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center  navbar-brand">
    <h4 class="display-4">Welcome To Property Loans <br/>Where we enable you to find a home</h4>
    <div class="card-img" >
        <img src="https://www.thesouthafrican.com/wp-content/uploads/2023/03/269974942_298988682262287_7513434955614336645_n-800x529.jpg" style="align-self:center" width="250" height="250" />
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
