html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




body {
    background-image: url('../images/CriminalImage2.jpg');
    background-size: cover;
}





/*Responsive Nav Bar start */


.nav-menu {
    display: flex;
    gap: 1.2rem;
    margin-right:10px;
    width:fit-content;
    
}

    .nav-menu a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }

        .nav-menu a:hover {
            color: #00bfff;
        }

/* Hamburger (hidden on desktop) */
.nav-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}









@media (max-width: 768px) 
{

    .nav-toggle {
        display: block;
    }


    /*Index view editing start */
    #indexDisplayText h1
    {
        margin-top:1px;
        width:fit-content;
        font-size:19px;
            
    }
    
    #imageContainer img
    {
        width: 150px;
        height: 100px;
    }

    #imageContainer .glassBackground
    {
        margin-right:300px;
    }
    /*Index view editing end */

/*
    #loginGlassCard
    {
        margin-top:100%;
    }
*/
/*login/registration editing start*/

    .leftShift {
        margin-left: -180px;
        margin-right:20px;
        /* adjust to your needed spacing */
        /*transition: margin-top 0.3s ease;*/
    }
/*login/registration editing end*/

 /*Dashboard editing start*/

    .shiftSearchContainer {
        padding: 25px;
    }

 .OneColumntable
 {
     
     width:100%;
 }

 .OneColumnTableCont table
 {
     padding-right:20px;
 }

    .OneColumntable td {
        padding-bottom: 15px;
    }

 /*Dashboard editing end*/



 /*Nav editing start*/
    .nav-menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: fit-content;
        background: #111;
        flex-direction: column;
        /* align-items: end;*/
        margin-left: 183px;
        display: none;
    }

        .nav-menu a {
            /* padding: 1rem 0;*/
            width: 100%;
            text-align: center;
            border-top: 1px solid #333;
           
        }

        .nav-menu.active {
            display: flex;
           
        }
  /*Nav editing end*/

}
/* Responsive Nav Bar end*/





.glassBackground {
    block-size: fit-content;
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 15px;
    padding: 5.5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.GlassBackGround {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 0.1px 7.2px;
    margin: 2px;
    display: inline-block;
}

.dropdown-menu li 
{
    padding-top: 3px;
    background: #808080
}


