@model LoanModel

<form method="post" asp-action="Update">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Welcome to the loan Update Page</h2>
            <h4 class="text-primary"> Update your Loan Details Here</h4>
            <hr />
        </div>
        <!--add Validations here

        <div asp-validation-summary="All"></div>

        -->
        <div class="mb-3">

            <label>Please Update Your Name Here: </label>
            <input asp-for="Name" class="form-control" />
        </div><div class="mb-3">
            <label>Please Update Your Surname Here</label>
            <input asp-for="Surname" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Update Your Gross Salary here:</label>
            <input asp-for="GrossSalary" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Update your credit score(0-1200) here: </label>
            <input asp-for="CreditScore" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Update the purchase price of the property here: </label>
            <input asp-for="PriceOfProperty" class="form-control" />
        </div>



        <button type="submit" class="btn btn-primary" style="width:150px">Update Loan</button>

        <a asp-controller="Loan" asp-action="LoanView" class="btn btn-secondary" style="width:150px">Back </a>
    </div>
</form>